<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Solusi University</h3>
          <div class="subheading mb-3">Bachelor of Business Administration</div>
          <div>Computer & Management Information Systems</div>
          
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary"><!---Jan 2005 - Dec 2009--></span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">University Of Zimbabwe</h3>
          <div class="subheading mb-3">Cisco Certified Network Associate (CCNA)</div>
          
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary"><!---Jan 2010 - June 2010--></span>
        </div>
      </div>

    </div>
  </section>