<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">Tinashe
        <span class="text-primary">Muzenda</span>
      </h1>
      <div class="subheading mb-5">74 Megawatt Court · Cnr S Muzenda/J Tongogara, Harare · +263 774 345 194 ·
        <a href="mailto:tinamuzenda@gmail.com">tinamuzenda@gmail.com</a>
      </div>
      <p class="lead mb-5">I am experienced in E-Commerce & Web & Mobile Application Development.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/tinashe-muzenda-99613393/">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/giltina">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>