<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Developer</h3>
          <div class="subheading mb-3">3 Degrees</div>
          <p>Management & Maintenance of existing systems and websites.Development of E-Commerce Systems,Full Stack System Development.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">September 2018 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Senior Web Developer</h3>
          <div class="subheading mb-3">Hammer & Tongues</div>
          <p>Developing Web Applications,Solutions.Social Media Analytics Lead & Google Analytics Specialist.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2014 - August 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Junior Web Developer</h3>
          <div class="subheading mb-3">Prizeless Technologies</div>
          <p>Developing CMS & Ecommerce Websites.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">November 2012 - November 2013</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Webmaster</h3>
          <div class="subheading mb-3">Zimbabwe Yellow Pages</div>
          <p>Administration of an online directory</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2011 - October 2012</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Industrial Attachment</h3>
          <div class="subheading mb-3">Elbee Technologies</div>
          <p>Webdesign & Flash Animation Design intern</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Jan 2007 - Dec 2007</span>
        </div>
      </div>

    </div>

  </section>