<div class="py-5">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="assets/images/coolice.jpg" width = 100%>
            <div class="card-body">
              <p class="card-text">Coolice - Corporate Website</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://coolice.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/michaels.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">St Michaels - School Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="http://www.stmichaels.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/chisipite.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">Chisipite - School Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="http://chisipitesenior.com/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/wildlife.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">Wildlife Wonders - Tourism Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://www.wildlifewonderszim.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/campus.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">Campus Community - NGO Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="http://www.campuscommunityfoundation.org/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/xperts.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">Xperts - Corporate Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="http://www.xpertsinit.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/zunde.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">Zunde - Digital bank Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://giltina.github.io/zunde/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/halsteds.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">Halsteds - E-Commerce Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://www.halsteds.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/citi.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">CitiOnline - E-Commerce Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="https://citionline.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/south.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">South Mining - Corporate Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="http://southmining.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/keen.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">KeenComms - Corporate Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="http://www.keencomms.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="assets/images/lighthouse.jpg" width = 100%>
              <div class="card-body">
                <p class="card-text">Lighthouse - NGO Website</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="http://www.lighthouse.co.zw/" target="blank" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
    </div>
    </div>
  </div>